body{
    margin: 0;
}



.header {
    display: flex;
    font-size: 40px;
    align-items: center;
    margin: 0px;

    background-color: #1F2937;
    color: #eee;
}

a {
    text-decoration: none;
    padding: 16px;
    color:grey;
    font-size: 30px;
}

.header div{
    flex: 1;
    padding-left: 16px;
}