body{
    margin: 0;
}

.top{
    background-color: #1F2937;
    color: #F9faf8;
}


.header, .hero{
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    font-size: 24px;
    align-items: center;
    margin: 0px;
    height: 100px;
}

a {
    text-decoration: none;
    padding-left: 16px;
    color:grey;
    font-size: 18px;
}


.header div{
    flex:1;
}



.hero{
    height: 400px;
    width: auto;
    padding: 100px;

    display: flex;
    justify-content: center;
    gap: 100px;
/* TODO : May need to fix spacing or change image to look better */

}

.heroleft{
    width: 500px;
}


.hero h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9faf8;
}

.hero div{
    font-size: 18px;
    color: #E5E7EB;
}

.hero button{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    color: white;
    font-size: 30px;
    margin-top: 16px;
}

.infoboxes {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}




